# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

# top-most EditorConfig file
root = true

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space

[*.{md, rst}]
indent_size = 4

[*.py]
indent_size = 4
force_single_line = True
line_length = 120
known_first_party = matador
default_section = THIRDPARTY
forced_separate = test_matador
not_skip = __init__.py

[*.yml]
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 8

[*.sql]
indent_style = tab
indent_size = 4
